<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/join/templates/sidebar/sidebar.css" />
    <link rel="stylesheet" href="/join/style.css" />
    <link rel="stylesheet" href="/join/css/fonts.css" />
    <title>Sidebar</title>
  </head>
  <body>
    <div class="sideBar">
      <img class="logo-sidenav" src="/join/assets/img/logohell.png" alt="" />
      <nav class="sideBarLogin d-none">
        <a href="/join/index.html">
          <img src="/join/assets/icons/loginIcon.png" alt="" />
          <span>Log In</span>
        </a>
      </nav>
      <nav class="sideBarList">
        <a href="/join/pages/summary.html" data-page="summary"
          ><img src="/join/assets/img/summary-icon.png" alt="" />
          <span>Summary</span>
        </a>
        <a href="/join/pages/addTask.html" data-page="addTask"
          ><img src="/join/assets/img/addtask-icon.png" alt="" />
          <span>Add Task</span>
        </a>
        <a href="/join/pages/board.html" data-page="board"
          ><img src="/join/assets/img/board-icon.png" alt="" />
          <span>Board</span>
        </a>
        <a href="/join/pages/contacts.html" data-page="contacts">
          <img src="/join/assets/img/contacts-icon.png" alt="" />
          <span>Contacts</span>
        </a>
      </nav>
      <div class="policyAndNotice">
        <a href="/join/pages/data-protection.html" data-page="data-protection"><span>Privacy Policy</span></a>
        <a href="/join/pages/legale-notice.html" data-page="legale-notice"><span>Legal notice</span></a>
      </div>
    </div>
  </body>
</html>
