<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/join/templates/sidebar/sidebar.css" />
    <link rel="stylesheet" href="/join/mobileTemplates/footer/footerMobile-protection.css">
    <link rel="stylesheet" href="/join/style.css" />
    <link rel="stylesheet" href="/join/css/fonts.css" />
    <title>Sidebar</title>
  </head>
  <body>
    <div class="sideBar">
      <img class="logo-sidenav" src="/join/assets/img/logohell.png" alt="" />
      <nav class="sideBarLogin">
        <a href="/join/index.html">
          <img src="/join/assets/icons/loginIcon.png" alt="" />
          <span>Log In</span>
        </a>
      </nav>
      <div class="policyAndNotice">
        <a href="/join/pages/data-protection-Nouser.html" data-page="data-protection"><span>Privacy Policy</span></a>
        <a href="/join/pages/legale-notice-Nouser.html" data-page="legale-notice"><span>Legal notice</span></a>
      </div>
    </div>
    <div class="mobileFooterBar">
      <a class="mobileFooterBarLogin" href="/join/index.html">
          <img src="/join/assets/icons/loginIcon.png" alt="" />
          <span>Log In</span>
      </a>
  <nav class="mobileFooterBarList">
      <a class="mobileFooterBarListLink" href="/join/pages/data-protection-Nouser.html" data-page="summary" ><span>Privacy Policy</span></a>
      <a class="mobileFooterBarListLink" href="/join/pages/legale-notice-Nouser.html" data-page="board" ><span>Legal notice</span></a>
  </nav>
</div>
  </body>
</html>
